@import "./reset.scss";

// Colors
$light-orange: #e3cbb2fd;
// $light-orange: #fcd8b1;
// $light-orange: #fcd8b1f9;
$laurel-green: #B1B695;
$wintergreen-dream: #88b69dfb;
$dark-liver: #f0f0f0;
$claret: #6D1A36;
$tweed: #937755;

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

@import "./header.scss";
@import "./session.scss";
@import "./listings_form.scss";
@import "./footer.scss";
@import "./dropdown.scss";
@import "./listing_index.scss";
@import "./listing_show.scss";
@import "./inbox.scss";
@import "./user_show.scss";
@import "./user_review_form.scss";
@import "./conversation.scss";
@import "./location.scss";

.app-container {
    width: 100%;
    height: 100%;
    font-family: 'Comfortaa', cursive;  
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-image: url(../assets/images/veggie_doodle.png);
    background-color: #e6e6e6;
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: 100%;
    font-weight: 600;
    box-sizing: border-box;
    user-select: none;
}

