@import "./reset.scss";

// Colors
$baby-pink: #F7C1C6;
$mauvelous: #F29BAC;
$deep-koamaru: #2B3A59;
$myrtle-green: #1D7278;
$tweed: #937755;

@import "./header.scss";
@import "./session.scss";
@import "./listings_form.scss";

.app-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $tweed ;
    color: white;
}

