.profile-dropdown{
    height: 40px;
    width: 40px;
    margin-left: 25px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.profile-dropdown:before {
    background: none;
    position: absolute;
    transition: all 200ms ease-in-out;
    content: "";
    top: 12px;
    transform-origin: center;
    width: 23px;
    height: 15px;
    transform: scale(100%);
    background-color: rgb(255, 255, 255);
    z-index: -1;
}

.profile-dropdown:hover:before {
    display: block;
    position: absolute;
    content: "";
    background-color: rgb(232, 232, 232);
    z-index: -1;
    border-radius: 5px;
    transform: scale(260%);
}

.dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    width: 200px;
    height: 150px;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0 6px 10px rgb(127, 127, 127);
    transform: translateX(-80%);
    border-radius: 10px;
    transform: translateY(100px);
    text-decoration: none;
    color: black;
}

.prof {
    width: 28px;
    height: 28px;
}

.orders-icon {
    width: 30px;
    height: 30px;
}

.sign-out-icon {
    width: 25px;
    height: 22px;
}

.logout-button {
    height: 50px;
    background: none;
    border: none;
    transform: translateX(10px);
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.ootsy-logo-li {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.search-li {
    width: 80%;
}

.email-container {
    background-color: rgb(237, 237, 237);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 5px;
    position: relative;
    box-sizing: border-box;
    padding-left: 13px;
}

.orders-container {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 5px;
    position: relative;
    box-sizing: border-box;
    padding-left: 13px;
    text-decoration: none;

    a {
        text-decoration: none;
        color: black;
        padding-left: 10px;
    }

}

.sign-out-container {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50px;
    display: flex;
    padding-left: 15px;
    align-items: center;
    padding: 15px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
     
    button {
        cursor: pointer;
    }
}

.sign-out-container:hover {
    background-color: rgb(237, 237, 237);
}

.orders-container:hover {
    background-color: rgb(237, 237, 237);
}

.orders-container span {
    transform: translateX(10px);
    font-family: sans-serif; 
    font-size: 14px;
    font-weight: 400;
}

.email-container span {
    transform: translateX(10px);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.email-container .prof {
    width: 23px;
    height: 23px;
}

.dropdown-content > span {
    font-family: sans-serif;
    width: 100%;
    height: 50px;
    text-align: center;
    align-items: center;
}

.categories-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(100vw, 1350px);
    height: 35px;

    li {
        height: 80%;
        transition: 200ms;
        text-align: center;
    }

    .cat:after {
        content: '';
        display: block;
        margin: auto;
        height: 2px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
        transform: translateY(15px);
    }
    
    .cat:hover:after {
        width: 100%;
        background: rgb(0, 0, 0);
    }

    li:first-of-type {
        margin-left: 15px;
    }

    li:last-of-type {
        margin-right: 15px;
    }

    .cat {
        text-decoration: none;
        color: #393939;
        font-size: 13px;
        font-family: sans-serif;
        width: 70px;
        height: 30px;
    }
}