.profile-dropdown{
    height: 40px;
    width: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    cursor: pointer;

    .prof {
        width: 45px;
        height: 45px;
        border: 2px solid black;
        transition: all 200ms ease;
    }

    .prof:hover {
        transform: scale(1.1);
    }

    .dropdown-content {
        height: 200px;
        width: 200px;
        position: absolute;
        display: none;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 0 6px 10px rgb(127, 127, 127);
        transform: translateY(125px) translateX(-37%);
        color: black;
        border-radius: 25px;
        z-index: 1100000000000000;

        .username-container {
            height: 50px;
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            background-color: #88A09E;
            padding: 5px;
            color: white;
            border-radius: 20px 20px 0 0;

        }

        .user-profile-container {
            height: 50px;
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding: 5px;
            background-color: rgb(255, 255, 255);
            text-decoration: none;

            .prof {
                height: 24px;
                width: 24px; 
                margin-left: 25px;   
            }

            span {
                text-decoration: none;
                color: black;
                padding-left: 15px;
            }
        }

        .user-profile-container img {
            margin-left: 14px;
        }

        .user-profile-container:hover {
            background-color: #f7e0eb;
        }

        .add-listing-container {
            height: 50px;
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding: 5px;
            background-color: rgb(255, 255, 255);
            text-decoration: none;
            
            span {
                text-decoration: none;
                color: black;
            }
        }

        .add-listing-container * {
            padding-left: 14px;
        }

        .add-listing-container:hover {
            background-color: #f7e0eb;
        }

        .inbox-container {
            height: 50px;
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding: 5px;
            background-color: rgb(255, 255, 255);
            text-decoration: none;
            
            span {
                text-decoration: none;
                color: black;
            }
        }

        .inbox-container * {
            padding-left: 14px;
        }

        .inbox-container:hover {
            background-color: #f7e0eb;
        }

        .sign-out-container {
            height: 50px;
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            background-color: rgb(255, 255, 255);
            cursor: pointer;
            text-decoration: none;
            border-radius: 0 0 20px 20px;
             
            .logout-button {
                height: 100%;
                background: none;
                border: none;
                font-size: 16px;
                cursor: pointer;
                font-family: 'Comfortaa', cursive;  
            }

            a {
                color: black;
            }
        }
        
        .sign-out-container * {
            padding-left: 15px;
        }

        .sign-out-container:hover {
            background-color: #f7e0eb;
        }
    }

}

