.header-container {
    width: 100vw;
    height: 130px;
    background-color: $wintergreen-dream;
    box-sizing: border-box;
    display: flex;
    padding: 15px 35px 15px 35px;
    color: white;
    justify-content: space-between;
    flex-direction: column;
    border-bottom: 2px solid $dark-liver;
    position: fixed;
    z-index: 10;

    .topline {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logos {
            display: flex;
            align-items: center;
            text-decoration: none;
            border-bottom: $dark-liver 2px solid;
        }

        .title {
            font-family: 'Amatic SC', cursive;
            color: $light-orange;
            text-decoration: none;
            font-size: 48px;
            margin-right: 10px;
        }

        .logo {
            height: 60px;
            transform: translateY(3px);
        }

        .search-bar {
            width: 50%;
            height: 35px;
            border-radius: 15px;
            padding-left: 20px;
            color: #c8c8c8;
            border: 2px solid $claret;
        }

        .location-icon {
            color: white;
        }
    
        .btn {
            text-decoration: none;
            color: white;
            border: 1px solid white;
            padding: 5px;
            border-radius: 10px;
            height: 25px;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 200ms ease;
        }

        .btn:hover {
            transform: scale(1.1);
        }

    }


    .bottom-line {
        height: 40%;
        width: 100%;

        .cats {
            width: 100%;
            display:flex;
            justify-content: space-around;
            align-items: baseline;
            height: 100%;

            a {
                color: white;
                text-decoration: none;
                height: 100%;
                display: flex;
                align-items: center;
                padding: 15px;
                box-sizing: border-box;
                transform: translateY(15px);
                position: relative;
            }
            
            a::before {  
                transform: scaleX(0);
                transform-origin: center;
            }
            
            a:hover::before {
                transform: scaleX(1) translateX(-13%);
                right: 60px;
                transform-origin: center;
              }
              
              a::before {
                content: "";
                display: block;
                position: absolute;
                top: 0; 
                right: 60px; 
                bottom: 0; 
                left: 0;
                inset: 0 0 0 0;
                z-index: -1;
                transition: transform .3s ease;
                background-image: url(../assets/images/watermelon.png);
                height: 100%;
                width: 140%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
              }
              
        }
    }

}

.prof {
    width: 50px;
    border-radius: 25px;
}

