.header-container {
    width: 100vw;
    height: 130px;
    background-color: $wintergreen-dream;
    box-sizing: border-box;
    display: flex;
    padding: 15px 35px 15px 35px;
    color: white;
    justify-content: space-between;
    flex-direction: column;
    border-bottom: 2px solid black;
    position: fixed;
    z-index: 5;

    .topline {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logos {
            display: flex;
            align-items: center;
            text-decoration: none;
            border-bottom: $dark-liver 2px solid;
            border-bottom-style: ridge;
        }

        .title {
            font-family: 'Amatic SC', cursive;
            color: $dark-liver;
            text-decoration: none;
            font-size: 52px;
            margin-right: 10px;
            text-shadow: 1px 1px #353535;

        }

        .logo {
            height: 60px;
            transform: translateY(3px);
        }

        .search-bar {
            width: 50%;
            height: 35px;
            border-radius: 15px;
            padding-left: 20px;
            color: #c8c8c8;
            border: 2px solid $claret;
        }
    
        .btn {
            text-decoration: none;
            color: white;
            border: 1px solid white;
            padding: 5px;
            border-radius: 10px;
            height: 25px;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 200ms ease;
        }

        .btn:hover {
            transform: scale(1.1);
        }

    }


    .bottom-line {
        height: 40%;
        width: 100%;

        .cats {
            width: 100%;
            display:flex;
            justify-content: space-around;
            align-items: baseline;
            height: 100%;

            a {
                color: white;
                text-decoration: none;
                height: 100%;
                display: flex;
                align-items: center;
                padding: 15px;
                box-sizing: border-box;
                transform: translateY(15px);
                position: relative;
            }
            
            .Fruit::before {  
                transform: scaleX(0);
                transform-origin: center;
            }
            
            .Fruit:hover::before {
                transform: scaleX(1) translateX(-13%);
                right: 60px;
                transform-origin: center;
            }            
            .Fruit::before {
                content: "";
                display: block;
                position: absolute;
                top: 0; 
                right: 60px; 
                bottom: 0; 
                left: 0;
                inset: 0 0 0 0;
                z-index: -1;
                transition: transform .3s ease;
                background-image: url(../assets/images/watermelon.png);
                height: 100%;
                width: 140%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
            }
            
            a {
                text-shadow: 1px 1px #353535;
                font-size: 18px;
            }

            .Grains::before {  
                transform: scaleX(0);
                transform-origin: center;
            }
            
            .Grains:hover::before {
                transform: scaleX(1) translateX(-13%);
                right: 60px;
                transform-origin: center;
            }       
            .Grains::before {
                content: "";
                display: block;
                position: absolute;
                top: 0; 
                right: 60px; 
                bottom: 0; 
                left: 0;
                inset: 0 0 0 0;
                z-index: -1;
                transition: transform .3s ease;
                background-image: url(../assets/images/grains.png);
                height: 100%;
                width: 140%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
            }

            .Meats::before {  
                transform: scaleX(0);
                transform-origin: center;
                height: 100%;
            }
            
            .Meats:hover::before {
                transform: scale(1) translateX(-13%);
                right: 60px;
                transform-origin: center;
            }     
            .Meats::before {
                content: "";
                display: block;
                position: absolute;
                top: 0; 
                right: 60px; 
                bottom: 0; 
                left: 0;
                inset: 0 0 0 0;
                z-index: -1;
                transition: transform .3s ease;
                background-image: url(../assets/images/steaky.png);
                height: 100%;
                width: 135%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
            }

            .Vegetables::before {  
                transform: scaleX(0) translateY(-3px);
                transform-origin: center;
                height: 100%;
            }
            
            .Vegetables:hover::before {
                transform: scale(1) translateX(-13%) translateY(-3px);
                right: 60px;
                transform-origin: center;
            }             
            .Vegetables::before {
                content: "";
                display: block;
                position: absolute;
                top: 0; 
                right: 60px; 
                bottom: 0; 
                left: 0;
                inset: 0 0 0 0;
                z-index: -1;
                transition: transform .3s ease;
                background-image: url(../assets/images/carrot.png);
                height: 100%;
                width: 135%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
            }

            .Dairy::before {  
                transform: scaleX(0);
                transform-origin: center;
                height: 100%;
            }
            
            .Dairy:hover::before {
                transform: scale(1) translateX(-13%);
                right: 60px;
                transform-origin: center;
            }             
            .Dairy::before {
                content: "";
                display: block;
                position: absolute;
                top: 0; 
                right: 60px; 
                bottom: 0; 
                left: 0;
                inset: 0 0 0 0;
                z-index: -1;
                transition: transform .3s ease;
                background-image: url(../assets/images/dairy.png);
                height: 100%;
                width: 135%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
            }

            .Nuts::before {  
                transform: scaleX(0);
                transform-origin: center;
                height: 100%;
            }
            
            .Nuts:hover::before {
                transform: scale(1.5) translateX(-9%) translateY(3px);
                right: 60px;
                transform-origin: center;
            }             
            .Nuts::before {
                content: "";
                display: block;
                position: absolute;
                top: 0; 
                right: 60px; 
                bottom: 0; 
                left: 0;
                inset: 0 0 0 0;
                z-index: -1;
                transition: transform .3s ease;
                background-image: url(../assets/images/nuts.png);
                height: 100%;
                width: 135%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
            }          
        }
    }

}

.prof {
    width: 50px;
    border-radius: 60px;
}

@media only screen and (max-width: 1030px) {
    .header-container {
    
        .topline {
    
            .title {
                font-size: 44px;
            }
    
            .logo {
                height: 55px;
            }

            .profile-dropdown {
                margin-left: .5rem;
            }
    
        }
    }

}

@media only screen and (max-width: 970px) {
    .header-container {
     
    
        .topline {
    
            .title {
                font-size: 44px;
            }
    
            .search-bar {
                width: 45%;
              
            }
    
        }
    }

}

@media only screen and (max-width: 875px) {
    .header-container {
     
    
        .topline {
    
            .title {
                font-size: 44px;
            }
    
            .search-bar {
                width: 40%;
              
            }
    
        }
    }

}

@media only screen and (max-width: 800px) {
    .header-container {
     
    
        .topline {
    
            .search-bar {
                width: 35%;            
            }
    
        }
    }

}

@media only screen and (max-width: 725px) {
    .header-container {
     
    
        .topline {
            
    
            .logos {
               
            }
    
            .title {
                font-size: 38px;
            }
    
            .logo {
               height: 45px;
            }
    
            .search-bar {
                width: 35%;            
            }

            .dropbtn {
                font-size: 14px;
            }

            .profile-dropdown {

                 .prof {
                     width: 35px;
                     height: 35px;
                 }
            }
    
        }
    }

}

@media only screen and (max-width: 645px) {
    .header-container {
     
    
        .topline {
            
    
            .logos {
               
            }
    
            .title {
                font-size: 38px;
            }
    
            .logo {
               height: 45px;
            }
    
            .search-bar {
                width: 35%;            
            }

            .dropbtn {
                font-size: 14px;
            }

            .profile-dropdown {

                 .prof {
                     width: 35px;
                     height: 35px;
                 }
            }
    
        }
    }

}

