.listings-show-container {
    margin-top: 13rem;
    background-color: $light-orange;
    padding: 2rem;
    color: black;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 8rem;
    border-radius: 4rem;
    box-shadow: 0px 0px 10px #656565;
    width: 65%;
    height: 35rem;
    min-width: 300px;

    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 65%;
        height: 100%;

        .linky {
            margin: 1rem;
            align-self: baseline;
        }

        img {
            max-width: 100%;
            height: 90%;
            object-fit: contain;
            border-radius: 2rem;
            margin-bottom: 1rem;
            box-shadow: 0px 0px 10px #656565;
            background-color: rgb(216, 216, 216);

        }

        .btns-container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .button {
                border: none;
                width: 5rem;
                height: 30px;
                border-radius: 20px;
                background-color: black;
                color: white;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 200ms ease;
                font-family: 'Comfortaa', cursive;  
                font-size: 14px;
                text-decoration: none;
            } 
            
            .button:hover {
                transform: scale(1.1);
                background-color: rgb(63, 63, 63);
            }
        }

        .btns-container > * {
            margin-left: .5rem;
            margin-right: .5rem;
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%;
        height: 100%;

        .headline {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 5rem;

            .space-btwn {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .title {
                font-size: 28px;
                margin-right: .4rem;
                // width: 50%;
            }

            .price {
                // width: 33%;
                margin-right: .3rem;
                font-size: 25px;
            }
    
            .cat {
                margin-bottom: 1rem;
                font-size: 14px;
                width: 100%;
            }
        }

        .list-body {
            width: 100%;
        }
        

        h3 {
            margin-bottom: .5rem;
            font-size: 20px;
        }

        .body {
            margin-bottom: 1rem;
        }

        .button {
            border: none;
            width: 85%;
            height: 50px;
            border-radius: 20px;
            background-color: black;
            color: white;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 200ms ease;
            font-family: 'Comfortaa', cursive;  
            font-size: 14px;
            text-decoration: none;
            padding-left: 15px;
            padding-right: 15px;
            text-align: center;
        } 
        
        .button:hover {
            transform: scale(1.05);
            background-color: rgb(63, 63, 63);
        }
    }

}

@media only screen and (max-width: 1100px) {

    .listings-show-container {
        margin-top: 13rem;
        background-color: $light-orange;
        padding: 2rem;
        color: black;
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        margin-bottom: 8rem;
        border-radius: 4rem;
        box-shadow: 0px 0px 10px #656565;
        width: 65%;
        height: 35rem;
    
        .left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 65%;
            height: 100%;
    
            .linky {
                margin: 1rem;
                align-self: baseline;
            }
    
            img {
                max-width: 100%;
                height: 90%;
                object-fit: contain;
                border-radius: 2rem;
                margin-bottom: 1rem;
                box-shadow: 0px 0px 10px #656565;
                background-color: rgb(216, 216, 216);
                margin-right: 1rem;
            }
    
            .btns-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                .button {
                    border: none;
                    width: 5rem;
                    height: 30px;
                    border-radius: 20px;
                    background-color: black;
                    color: white;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 200ms ease;
                    font-family: 'Comfortaa', cursive;  
                    font-size: 14px;
                    text-decoration: none;
                } 
                
                .button:hover {
                    transform: scale(1.1);
                    background-color: rgb(63, 63, 63);
                }
            }
        }
    
        .right {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 45%;
            height: 100%;
    
            .headline {
                display: flex;
                flex-direction: column;
                width: 100%;
    
                .space-btwn {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
    
                .title {
                    font-size: 28px;
                    margin-right: .4rem;
                    // width: 50%;
                }
    
                .price {
                    // width: 33%;
                    margin-right: .3rem;
                    font-size: 25px;
                }
        
                .cat {
                    margin-bottom: 1rem;
                    font-size: 14px;
                    width: 100%;
                }
            }
    
            .list-body {
                width: 100%;
            }
            
    
            h3 {
                margin-bottom: .5rem;
                font-size: 20px;
            }
    
            .body {
                margin-bottom: 1rem;
            }
    
            .button {
                border: none;
                width: 85%;
                height: 50px;
                border-radius: 20px;
                background-color: black;
                color: white;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 200ms ease;
                font-family: 'Comfortaa', cursive;  
                font-size: 14px;
                text-decoration: none;
                padding-left: 15px;
                padding-right: 15px;
                text-align: center;
            } 
            
            .button:hover {
                transform: scale(1.05);
                background-color: rgb(63, 63, 63);
            }
        }
    
    }
}

@media only screen and (max-width: 970px) {

    .listings-show-container {
        width: 75%;
    }
}

@media only screen and (max-width: 840px) {

    .listings-show-container {
        width: 85%;
    }
}

@media only screen and (max-width: 740px) {

    .listings-show-container {
        width: 90%;
    }
}

@media only screen and (max-width: 680px) {

    .listings-show-container {
        width: 95%;
    }
}

@media only screen and (max-width: 650px) {

    .listings-show-container {
        flex-direction: column;
        height: 100%;
        width: 70%;

        .right {
            width: 100%;
            height: 90%;

            .headline {
                margin-top: 1rem;
            }
        }

        .left {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 550px) {

    .listings-show-container {
        width: 75%;
    }
}

@media only screen and (max-width: 550px) {

    .listings-show-container {
        width: 82%;
    }
}

