.listing-index-container {

    display: grid;
    grid-template-columns: repeat(4, 15rem);
    gap: 2rem;
    margin-top: 10rem;
    margin-bottom: 3rem;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 25px;
    background-color: $light-orange;

    .listing-container {
        margin-bottom: 2rem;
        text-decoration: none;
        color: black;

        img{
            max-width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
            border: 2px solid black;
        }

        .title {
            margin-top: 5px;
        }

    }
}
