.listing-index-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 22%);
    grid-auto-rows: 20rem;
    gap: 2rem;
    margin-top: 10rem;
    margin-bottom: 3rem;
    box-sizing: border-box;
    width: 85%;
    padding: 15px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 25px;
    background-color: $light-orange;
    box-shadow: 0px 0px 10px #656565;

    .no-results {
        font-size: 48px;
        grid-column: span 4;
        color: black;
        align-self: center;
    }


    .listing-container {
        margin-bottom: 5rem;
        text-decoration: none;
        color: black;
        box-sizing: border-box;
        

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
            border: 1px solid rgb(139, 139, 139);
            transition: transform 200ms ease ;
        }

        img:hover {
            box-shadow: 1px 1px 5px 1px ;
            transform: scale(101%);
        }

        .title {
            margin-top: 5px;
            font-weight: 700;
        }

        .price {
            font-weight: 400;
            margin-top: 5px;

        }

        .location {
            font-weight: 300;
            color: rgb(35, 35, 35);
            font-size: 12px;
            margin-top: 10px;
            border: 1px solid black;
            background-color: #f4c271;
            width: 60%;
            border-radius: .5rem;
            padding: 7px 10px;
            text-align: center;
        }  
    }


}

@media only screen and (max-width: 850px) {
    .listing-index-container {
        grid-template-columns: repeat(2, 40%);
        grid-template-rows: 200px;
    }
}

@media only screen and (max-width: 533px) {
    .listing-index-container {
        grid-template-columns: repeat(1, 70%);
        grid-template-rows: 200px;

        .listing-container {
            margin-bottom: 5rem;
        }
    }
}

@media only screen and (max-width: 533px) {
    .listing-index-container {
        

        .listing-container {
            margin-bottom: 7rem;
        }
    }
}

.cat-header {
    color: black;
    font-size: 32px;
}
