.session-form-container {
    height: 30rem;
    width:  40%;
    background-color: $light-orange;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    margin-top: 14rem;
    margin-bottom: 50px;
    font-family: 'Comfortaa', cursive;  
    color: black;
    font-size: 18px;
    box-shadow: 0px 0px 10px #656565;
    min-width: 315px;

    .session-form {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        > p {
            font-size: 26px;
            margin-bottom: 20px;
        }
    }

    ul {
        display:flex;
        flex-direction: column;

        align-items: center;
    }

    .session-form li {
        color: red;
        text-align: center;
        margin-bottom: 5px;
    }
    
    .input-container {
        height: 70%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & > p {
            font-size: 16px;
        }

        & > h3 {
            margin-bottom: 2rem;
        }

        .or {
            font-size: 22px;
        }

        label {
            width: 80%;

            .input {
                height: 45px;
                width: 100%;
                box-sizing: border-box;
                padding-left: 15px;
                margin-bottom: 20px;
                border-radius: 15px;
                border: none;
                box-shadow:inset 0 0 2px 2px #888;
                background: #fff;
                font-size: 18px;
            }

            .input:focus {
                outline: 1px solid $wintergreen-dream;
            }

            p {
                margin-bottom: 10px;
            }
        }


        .button {
            border: none;
            width: 75%;
            height: 45px;
            border-radius: 20px;
            margin: 15px;
            background-color: black;
            color: white;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 200ms ease;
            font-family: 'Comfortaa', cursive;  
            font-size: 16px;
        }
        
        .button:hover {
            transform: scale(1.1);
        }

        .link {
            color: $wintergreen-dream; 
            margin-left: 10px;           
        }

        .link:hover {
            color: $claret;
        }
        
    }


}

@media only screen and (max-width: 950px) {
    .session-form-container {
        width: 45%;
    }
}

@media only screen and (max-width: 800px) {
    .session-form-container {
        width: 52%;
    }
}

@media only screen and (max-width: 680px) {
    .session-form-container {
        width: 60%;
    }
}

@media only screen and (max-width: 540px) {
    .session-form-container {
        width: 70%;
        height: 26rem;

        .input-container {
            height: 85%;

            .button {
                margin: 10px;
            }
        }
    }
}

@media only screen and (max-width: 440px) {
    .session-form-container {
        width: 80%;
        height: 26rem;

        .input-container {
            height: 85%;

            .button {
                margin: 10px;
            }
        }
    }
}


