

.user-info-container{
    margin-top: 10rem;
    width: 400px;
    height: 400px;
    margin-bottom: 10rem;
    padding: 10px;
    background-color: rgb(83,145,126);
    li {
         color:white;;
    }
}