.user-show-container {
    margin-top: 10rem;
    width: 50%;
    min-height: 32rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    input[type='radio'] {
        display: none;
    }

    .user-info-container{
        height: 100%;
        border-radius: 25px;
        width: 100%;
        margin-bottom: 5rem;
        padding: 10px;
        background-color: $light-orange;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0px 0px 10px #656565;

       


        .prof {
            width: 15rem;
            clip-path: circle(45%);
            box-shadow: 0px 0px 10px #656565;

        }

        li {
             color:black;;
        }

        .username {
            font-size: 22px;
            margin-top: 1rem;
        }

        .joined {
            margin-top: 1rem;
        }

        .zipcode {
            margin-top: 1rem;
        }

        .avg-rating {
            margin-top: 1rem;
            margin-bottom: 1rem;
            width: 125%;
            display: flex;
            justify-content: center;

            .review-star-rating {
                width: 9rem;
                margin-left: 0.5rem;
                transform: translateY(-6px);
            }
        }

        .leave-review {
            margin-bottom: 1rem;
            color: $wintergreen-dream;
            border: 2px solid black;
            padding: 10px 15px 10px 15px;
            border-radius: 20px;
            text-decoration: none;
            transition: all 200ms ease;
        }

        .leave-review:hover {
            color: $claret;
            transform: scale(1.05);
        }
    }

    h1 {
        font-size: 24px;
        color: black;
        margin-bottom: 1rem;
        border-top: 2px solid black;
        width: 90%;
        padding-top: 18px;
        text-align: center;
    }
}

.user-reviews-container {
    width: 90%;
    color: black;
    border: solid 1px black;
    // margin-bottom: 2rem;
    border-bottom: none;
    box-shadow: 0px 0px 4px #656565;


    .user-review {
        margin-bottom: 1rem;
        margin-left: 1rem;
        padding: 6px;
    }

    .rating {
        font-size: 20px;
        margin-bottom: 7px;
        margin-top: 10px;

        .review-star-rating {
            width: 34%;

        }
    }

    .buttons {
        margin-bottom: 1rem;

        button {
            padding: 5px;
            background-color: black;
            color: white;
            border-radius: 7px;
            cursor: pointer;
            border: none;
            margin-left: 1rem;
            transition: all 200ms ease;
        }

        button:hover {
            transform: scale(1.1);
        }
    }
}

.user-reviews-container:first-of-type {
    border-radius: 20px 20px 0 0 ;
}

.user-reviews-container:last-of-type {
    border-radius: 0 0 20px 20px;
    margin-bottom: 2rem;
    border-bottom: 1px solid black;
}