.review-form-container{
    margin-top: 12rem;
    margin-bottom: 7rem;
    height: 20rem;
    width: 40%;
    background-color: $light-orange;
    color: black;
    font-family: 'Comfortaa', cursive;  
    border-radius: 25px;
    box-sizing: border-box;
    padding: 2rem;
    box-shadow: 0px 0px 10px #656565;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    input[type='radio'] {
        display: none;
    }

    .form-title {
        font-size: 24px;
        margin-bottom: 1rem;
    }

    .overall-rating {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        align-items: center;
    }

    .stars-component {
        // width: 50px;
        cursor: pointer;
    }

    #written-review {
        font-family: 'Comfortaa', cursive;  
        height: 6rem;
        width: 94%;
        font-size: 18px;
        padding: 10px;
        border-radius: 15px;
    }

    .submit-form-btn {
        height: 45px;
        width: 60%;
        margin-left: 20%;
        margin-top: 1rem;
        border-radius: 3rem;
        background-color: black;
        color: white;
        transition: all 200ms ease;
        cursor: pointer;
        font-size: 18px;
        font-family: 'Comfortaa', cursive;  
        border: none;
    }

    .submit-form-btn:hover {
        transform: scale(1.05);
        background-color: rgb(54, 54, 54);
    }

}

.rating {
    cursor: pointer;
}